<div class = "booyah-box col-xs-10 col-xs-offset-1">
		<h2 class = "subheader">All My Recipes</h2>
		<br />
		<% if @myrecipes.length == 0 %>
			<h4 class = "norecipes">You have not added any recipes.</h4> 
			<h4><%= link_to 'Add a recipe', new_recipe_path %> to display it here.</h4>
		<% else %>
			<% @myrecipes.each do |recipe| %>
				<div class = "booyah-box col-xs-10 col-sm-5 col-xs-offset-1">
					<h2 class = "recipe-name"><%= link_to recipe.name, recipe_path(recipe) %></h2><br>

					<% if @recipe.comments.present? %>
						<div class = "pull-right">
							<em>Average Rating: <%= @recipe.avg_rating %></em>
							<em>My Last Rating: <%= recipe.comments.where(user: current_user).last.humanized_rating %></em>
						</div>
					<% end %>
					
					<%= recipe.description %></br>
		
				</div>
			<% end %>
		<% end %>

		
